@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start mb-5">
    <h1 class="display-4">Shop Now!</h1>
    <h2 class="display-5">We provide easy and hassle-free shopping.</h2>
</div>

<div class="home-grid">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <h2>Featured Recently:</h2>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/bed-grid.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/home-background.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/sofa-grid.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/tv.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/sofa2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/cabinet.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/decors.jpg" class="d-block w-100" alt="...">
    </div>

  </div>
</div>
<div class="inlinediv">
<h2 class="h2inline mb-5">Hello Customer!</h2>
<h2 class="mb-5">We offer the best deals and prices here in our store. We sell Furnitures, Gadgets, Decors and many more!</h2>
<h2>Click the button below to shop now!</h2>
<button type="button" class="btn btn-outline-success homebtn btn-lg"><a asp-controller="Shops" class="text-decoration-none text-black">Shop now</a></button>
</div>
</div>


